##  Data Wrangling<a id='1_Data_Wrangling'></a>

## 1.1 Contents<a id='1.1_Contents'></a>

* [1 Data wrangling](#1_Data_Wrangling)
  * [1.1 Contents](#1.1_Contents)
  * [1.2 Objectives](#1.2_Objectives)
  * [1.3 Imports](#1.3_Imports)
  * [1.4 Load Austin, TX Housing Data](#1.4_Newyork_Housing_Data)
  * [1.6 Optimizing datatypes of columns](#1.5_Fixing_datatypes_of_columns)
    * [1.6.1 Dropping Columns](#1.6.1_Dropping_Columns)
    * [1.6.2 Drop Rows With No Price Data](#1.6.2_Drop_Rows_With_No_Price_Data)
    * [1.6.3 Anomalies](#1.6.3_Anomalies)
    * [1.6.4 Number Of Missing Values By Column](#1.6.4_Number_Of_Missing_Values_By_Column)
    * [1.6.5 Relabeling of Columns](#1.6.5_Relabel_Columns)
      * [1.6.5.1 Fixing Datatypes of Columns](#1.6.5.1_Fixing_Datatypes_of_columns)
    * [1.6.6 Distribution](#1.6.6_Distribution)
      * [1.6.6.1 Number of distinct neighborhoods](#1.6.6.1_Number_of_distinct_neighborhoods)
      * [1.6.6.2 Distribution Of Housing Price By Borough](#1.6.6.2_Distribution_Of_Housing_Price_By_Borough)
  * [1.7 Neighborhood Statistics](#1.7_Neighborhood_Statistics)
  * [1.8 Save data](#1.8_Save_data)
  * [1.9 Summary](#1.9_Summary)

## 1.2 Objectives<a id='1.2_Objectives'></a>

This is going to be a personal project which I plan on working on extensively throughout my career, the data is filled with clean and usable data which comes with high quality photos. With the usability of this dataset I want to be able to predict house prices given their features but not only through methods of regression but I want to try different algorithms and do some future work on trying computer vision on the high quality images this dataset provides to perphaps include some sort of ranking or weight/bias on a combination of all the photos for a particular house. 

I believe this is a un-charted terrority while many utilize tabular data more most housing price indicator I want to be able to use deep learning and computer vision to leverage images of houses to build better models 

Let's Begin!!

## 1.3 Imports<a id='1.3_Imports'></a>

In [3]:
conda install -n base conda-forge::mamba

Note: you may need to restart the kernel to use updated packages.

In [4]:
conda install -c conda-forge geopandas

Note: you may need to restart the kernel to use updated packages.

In [1]:
#Lets get our imports
import pandas as pd
import seaborn as sns
import statistics as stat
import numpy as np
import matplotlib.pyplot as plt
import re
import requests
import matplotlib.ticker as tick
import random
from collections import Counter
import geopandas as gpd

ModuleNotFoundError: No module named 'geopandas'

## 1.4 Austin, TX Housing Data<a id='1.4_Newyork_Housing_Data'></a>

In [51]:
df = pd.read_csv('austinHousingData.csv')

In [18]:
df.head()
#Right off the bat there are a lot of features and information in this dataset

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,...,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,111373431,pflugerville,14424 Lake Victor Dr,78660,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",30.430632,-97.663078,1.98,2,True,...,1,1,1.266667,2.666667,1063,14,3.0,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,120900430,pflugerville,1104 Strickling Dr,78660,Absolutely GORGEOUS 4 Bedroom home with 2 full...,30.432673,-97.661697,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,4,1,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...
2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,Under construction - estimated completion in A...,30.409748,-97.639771,1.98,0,True,...,1,1,1.200000,3.000000,1108,14,2.0,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
3,120901374,pflugerville,1025 Strickling Dr,78660,Absolutely darling one story home in charming ...,30.432112,-97.661659,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
4,60134862,pflugerville,15005 Donna Jane Loop,78660,Brimming with appeal & warm livability! Sleek ...,30.437368,-97.656860,1.98,0,True,...,1,1,1.133333,4.000000,1223,14,3.0,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg

In [19]:
df.describe()
#This is quite hard to interpret while some are easiy we can see some columns are un-interpretable.

,zpid,zipcode,latitude,longitude,propertyTaxRate,garageSpaces,parkingSpaces,yearBuilt,latestPrice,numPriceChanges,...,numOfElementarySchools,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories
count,1.517100e+04,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,1.517100e+04,15171.000000,...,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000
mean,1.044193e+08,78735.932964,30.291596,-97.778532,1.994085,1.229187,1.224507,1988.554743,5.127677e+05,3.032892,...,0.049173,1.035990,0.976798,1.838495,5.779912,1237.304660,14.857228,2.683010,3.440380,1.467273
std,3.179426e+08,18.893475,0.096973,0.084715,0.053102,1.352117,1.352732,21.579458,4.531853e+05,2.487392,...,0.234937,0.263633,0.292043,1.068376,1.860276,326.513311,1.741857,1.054445,0.849942,0.523697
min,2.858495e+07,78617.000000,30.085030,-98.022057,1.980000,0.000000,0.000000,1905.000000,5.500000e+03,1.000000,...,0.000000,0.000000,0.000000,0.200000,2.333333,396.000000,10.000000,0.000000,0.000000,1.000000
25%,2.941115e+07,78727.000000,30.203313,-97.838009,1.980000,0.000000,0.000000,1974.000000,3.090000e+05,1.000000,...,0.000000,1.000000,1.000000,1.100000,4.000000,966.000000,14.000000,2.000000,3.000000,1.000000
50%,2.949441e+07,78739.000000,30.284416,-97.769539,1.980000,1.000000,1.000000,1993.000000,4.050000e+05,2.000000,...,0.000000,1.000000,1.000000,1.566667,5.778694,1287.000000,15.000000,3.000000,3.000000,1.000000
75%,7.033762e+07,78749.000000,30.366585,-97.717903,1.980000,2.000000,2.000000,2006.000000,5.750000e+05,4.000000,...,0.000000,1.000000,1.000000,2.266667,7.000000,1496.000000,16.000000,3.000000,4.000000,2.000000
max,2.146313e+09,78759.000000,30.517323,-97.569504,2.210000,22.000000,22.000000,2020.000000,1.350000e+07,23.000000,...,2.000000,3.000000,2.000000,9.000000,9.500000,1913.000000,19.000000,27.000000,20.000000,4.000000

In [20]:
#Let's looking all the missing values for this dataset
missing = pd.concat([df.isnull().sum(), 100 * df.isnull().mean()], axis=1)
missing.columns=['count', '%']
missing.sort_values(by=['count', '%'])
# wow not a single column with missing data, while this is amazing in real situation 
# most data-set are raw, dirty and you must tackle missing data

                            count    %
zpid                            0  0.0
city                            0  0.0
streetAddress                   0  0.0
zipcode                         0  0.0
description                     0  0.0
latitude                        0  0.0
longitude                       0  0.0
propertyTaxRate                 0  0.0
garageSpaces                    0  0.0
hasAssociation                  0  0.0
hasCooling                      0  0.0
hasGarage                       0  0.0
hasHeating                      0  0.0
hasSpa                          0  0.0
hasView                         0  0.0
homeType                        0  0.0
parkingSpaces                   0  0.0
yearBuilt                       0  0.0
latestPrice                     0  0.0
numPriceChanges                 0  0.0
latest_saledate                 0  0.0
latest_salemonth                0  0.0
latest_saleyear                 0  0.0
latestPriceSource               0  0.0
numOfPhotos                     0  0.0
numOfAccessibilityFeatures      0  0.0
numOfAppliances                 0  0.0
numOfParkingFeatures            0  0.0
numOfPatioAndPorchFeatures      0  0.0
numOfSecurityFeatures           0  0.0
numOfWaterfrontFeatures         0  0.0
numOfWindowFeatures             0  0.0
numOfCommunityFeatures          0  0.0
lotSizeSqFt                     0  0.0
livingAreaSqFt                  0  0.0
numOfPrimarySchools             0  0.0
numOfElementarySchools          0  0.0
numOfMiddleSchools              0  0.0
numOfHighSchools                0  0.0
avgSchoolDistance               0  0.0
avgSchoolRating                 0  0.0
avgSchoolSize                   0  0.0
MedianStudentsPerTeacher        0  0.0
numOfBathrooms                  0  0.0
numOfBedrooms                   0  0.0
numOfStories                    0  0.0
homeImage                       0  0.0

I believe all these features play a role in a model, for now we will not utilize the image column, we will use this for future work, we will first drop this and look into datatypes and if we need to adjust anything for more optimization

In [52]:
df = df.drop('homeImage', axis=1)

### 1.5 Fixing Datatypes of Columns<a id='1.5_Fixing_datatypes_of_columns'></a>

In [53]:
print(pd.DataFrame(df.dtypes))
#All the data types seem in order there is no column which seems out of place expect for the object columns 
#lets look into all the columns which are object to see if we can change its type to a more approriate datatype

                                  0
zpid                          int64
city                         object
streetAddress                object
zipcode                       int64
description                  object
latitude                    float64
longitude                   float64
propertyTaxRate             float64
garageSpaces                  int64
hasAssociation                 bool
hasCooling                     bool
hasGarage                      bool
hasHeating                     bool
hasSpa                         bool
hasView                        bool
homeType                     object
parkingSpaces                 int64
yearBuilt                     int64
latestPrice                 float64
numPriceChanges               int64
latest_saledate              object
latest_salemonth              int64
latest_saleyear               int64
latestPriceSource            object
numOfPhotos                   int64
numOfAccessibilityFeatures    int64
numOfAppliances               int64
numOfParkingFeatures          int64
numOfPatioAndPorchFeatures    int64
numOfSecurityFeatures         int64
numOfWaterfrontFeatures       int64
numOfWindowFeatures           int64
numOfCommunityFeatures        int64
lotSizeSqFt                 float64
livingAreaSqFt              float64
numOfPrimarySchools           int64
numOfElementarySchools        int64
numOfMiddleSchools            int64
numOfHighSchools              int64
avgSchoolDistance           float64
avgSchoolRating             float64
avgSchoolSize                 int64
MedianStudentsPerTeacher      int64
numOfBathrooms              float64
numOfBedrooms                 int64
numOfStories                  int64

In [54]:
obj_list = []
for i in df.columns:
    if df[i].dtype == 'O':
        obj_list.append(i)
    else:
        continue

In [55]:
df[obj_list].head(10)
#Okay it looks like these are reseverd mostly for string values but lets look at latest_saledate we can turn this to
# datatime object

,city,streetAddress,description,homeType,latest_saledate,latestPriceSource
0,pflugerville,14424 Lake Victor Dr,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",Single Family,2019-09-02,"Coldwell Banker United, Realtors - South Austin"
1,pflugerville,1104 Strickling Dr,Absolutely GORGEOUS 4 Bedroom home with 2 full...,Single Family,2020-10-13,Agent Provided
2,pflugerville,1408 Fort Dessau Rd,Under construction - estimated completion in A...,Single Family,2019-07-31,Agent Provided
3,pflugerville,1025 Strickling Dr,Absolutely darling one story home in charming ...,Single Family,2018-08-08,Agent Provided
4,pflugerville,15005 Donna Jane Loop,Brimming with appeal & warm livability! Sleek ...,Single Family,2018-10-31,Agent Provided
5,pflugerville,14908 Spring Hill Ln,"14908 Spring Hill Ln, Pflugerville, TX 78660 i...",Single Family,2020-08-05,Broker Provided
6,pflugerville,14009 Cantata Ln,This well-maintained 2016 home in the Retreat ...,Single Family,2020-06-11,Broker Provided
7,pflugerville,15009 Drusillas Dr,"Wonderful home, freshly painted throughout, ne...",Single Family,2018-10-10,Agent Provided
8,pflugerville,1104 Traci Michelle Dr,Solid 3 bed 2 bath with formal dining/living c...,Single Family,2019-09-19,Agent Provided
9,del valle,6808 Plains Crest Dr,Beautiful 3 bed 2.5 bath home in great locatio...,Single Family,2018-09-11,Agent Provided

In [56]:
df['latest_saledate'] = pd.to_datetime(df['latest_saledate'])

In [57]:
#lets check all the int and float variables to see if we can turn them in values that consume less memory
num_list = []
for i in df.columns:
    if df[i].dtype == 'int64' or df[i].dtype == 'float64':
        num_list.append(i)
    else:
        continue

In [58]:
df[num_list].head()

,zpid,zipcode,latitude,longitude,propertyTaxRate,garageSpaces,parkingSpaces,yearBuilt,latestPrice,numPriceChanges,...,numOfElementarySchools,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories
0,111373431,78660,30.430632,-97.663078,1.98,2,2,2012,305000.0,5,...,0,1,1,1.266667,2.666667,1063,14,3.0,4,2
1,120900430,78660,30.432673,-97.661697,1.98,2,2,2013,295000.0,1,...,0,1,1,1.400000,2.666667,1063,14,2.0,4,1
2,2084491383,78660,30.409748,-97.639771,1.98,0,0,2018,256125.0,1,...,2,1,1,1.200000,3.000000,1108,14,2.0,3,1
3,120901374,78660,30.432112,-97.661659,1.98,2,2,2013,240000.0,4,...,0,1,1,1.400000,2.666667,1063,14,2.0,3,1
4,60134862,78660,30.437368,-97.656860,1.98,0,0,2002,239900.0,3,...,0,1,1,1.133333,4.000000,1223,14,3.0,3,2

In [59]:
df[num_list].describe()
# we can see we can turn some of the columns to smaller int type since they are low integers such as parkingSpaces,
# yearBuilt, numPriceChanges, numOfElementarySchools, numOfHighSchools, avgSchoolSize, MedianStudentsPerTeacher, numOfBathrooms
# numOfBedrooms and numOfStories
# We can also reduce the float size of some of the float types, like avgSchoolDistance and avgSchoolRating

,zpid,zipcode,latitude,longitude,propertyTaxRate,garageSpaces,parkingSpaces,yearBuilt,latestPrice,numPriceChanges,...,numOfElementarySchools,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories
count,1.517100e+04,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,1.517100e+04,15171.000000,...,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000,15171.000000
mean,1.044193e+08,78735.932964,30.291596,-97.778532,1.994085,1.229187,1.224507,1988.554743,5.127677e+05,3.032892,...,0.049173,1.035990,0.976798,1.838495,5.779912,1237.304660,14.857228,2.683010,3.440380,1.467273
std,3.179426e+08,18.893475,0.096973,0.084715,0.053102,1.352117,1.352732,21.579458,4.531853e+05,2.487392,...,0.234937,0.263633,0.292043,1.068376,1.860276,326.513311,1.741857,1.054445,0.849942,0.523697
min,2.858495e+07,78617.000000,30.085030,-98.022057,1.980000,0.000000,0.000000,1905.000000,5.500000e+03,1.000000,...,0.000000,0.000000,0.000000,0.200000,2.333333,396.000000,10.000000,0.000000,0.000000,1.000000
25%,2.941115e+07,78727.000000,30.203313,-97.838009,1.980000,0.000000,0.000000,1974.000000,3.090000e+05,1.000000,...,0.000000,1.000000,1.000000,1.100000,4.000000,966.000000,14.000000,2.000000,3.000000,1.000000
50%,2.949441e+07,78739.000000,30.284416,-97.769539,1.980000,1.000000,1.000000,1993.000000,4.050000e+05,2.000000,...,0.000000,1.000000,1.000000,1.566667,5.778694,1287.000000,15.000000,3.000000,3.000000,1.000000
75%,7.033762e+07,78749.000000,30.366585,-97.717903,1.980000,2.000000,2.000000,2006.000000,5.750000e+05,4.000000,...,0.000000,1.000000,1.000000,2.266667,7.000000,1496.000000,16.000000,3.000000,4.000000,2.000000
max,2.146313e+09,78759.000000,30.517323,-97.569504,2.210000,22.000000,22.000000,2020.000000,1.350000e+07,23.000000,...,2.000000,3.000000,2.000000,9.000000,9.500000,1913.000000,19.000000,27.000000,20.000000,4.000000

In [67]:
df['yearBuilt'] = df['yearBuilt'].astype('uint16')
df['garageSpaces'] = df['garageSpaces'].astype('uint8')
df['parkingSpaces'] = df['parkingSpaces'].astype('uint8')
df['numPriceChanges'] = df['numPriceChanges'].astype('uint8')
df['numOfElementarySchools'] = df['numOfElementarySchools'].astype('uint8')
df['numOfMiddleSchools'] = df['numOfMiddleSchools'].astype('uint8')
df['numOfHighSchools'] = df['numOfHighSchools'].astype('uint8')
df['avgSchoolDistance'] = df['avgSchoolDistance'].astype('float16')
df['avgSchoolRating'] = df['avgSchoolRating'].astype('float16')
df['latitude'] = df['latitude'].astype('float16')
df['longitude'] = df['longitude'].astype('float16')
df['avgSchoolSize'] = df['avgSchoolSize'].astype('uint16')
df['MedianStudentsPerTeacher'] = df['MedianStudentsPerTeacher'].astype('uint8')
df['numOfBathrooms'] = df['numOfBathrooms'].astype('uint8')
df['numOfBedrooms'] = df['numOfBedrooms'].astype('uint8')
df['numOfStories'] = df['numOfStories'].astype('uint8')

# I decided to leave zpid, zipcode, and propertyTaxrate as it is

In [68]:
df.dtypes
#Nice now lets move on

zpid                                   int64
city                                  object
streetAddress                         object
zipcode                                int64
description                           object
latitude                             float16
longitude                            float16
propertyTaxRate                      float64
garageSpaces                           uint8
hasAssociation                          bool
hasCooling                              bool
hasGarage                               bool
hasHeating                              bool
hasSpa                                  bool
hasView                                 bool
homeType                              object
parkingSpaces                          uint8
yearBuilt                             uint16
latestPrice                          float64
numPriceChanges                        uint8
latest_saledate               datetime64[ns]
latest_salemonth                       int64
latest_saleyear                        int64
latestPriceSource                     object
numOfPhotos                            int64
numOfAccessibilityFeatures             int64
numOfAppliances                        int64
numOfParkingFeatures                   int64
numOfPatioAndPorchFeatures             int64
numOfSecurityFeatures                  int64
numOfWaterfrontFeatures                int64
numOfWindowFeatures                    int64
numOfCommunityFeatures                 int64
lotSizeSqFt                          float64
livingAreaSqFt                       float64
numOfPrimarySchools                    int64
numOfElementarySchools                 uint8
numOfMiddleSchools                     uint8
numOfHighSchools                       uint8
avgSchoolDistance                    float16
avgSchoolRating                      float16
avgSchoolSize                         uint16
MedianStudentsPerTeacher               uint8
numOfBathrooms                         uint8
numOfBedrooms                          uint8
numOfStories                           uint8
dtype: object

In [ ]:
#Let's do some early visualization of houses on a map